
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="http://fonts.cdnfonts.com/css/samarkan" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <title>Swasth</title>
    <style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: #2e4450;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 1ex;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: #000;
}
        *{
          font-family: 'Poppins', sans-serif;
        }
        body{
          background-color: #fafafa;
        }
        .navbar .navbar-brand:hover{
          transition: 0.3s ease;
        }
        .navbar .navbar-brand:hover{
          color: #16c2d5;
        }
        .navbar .nav-item{
          margin-right: 2rem;
        }
        .navbar .navbar-brand{
          margin-right: 2rem;
        }
        .container{
            display: flex;
            margin-top: 10rem;
            margin-bottom: 10rem;
            overflow: hidden;
            text-align: justify;
        }
        .container .left{
            flex: 50%;
        }
        .container .left p, h1{
            margin: 2rem;
            width: 25rem;
        }
        .container .right{
            flex: 50%;
        }
        .left button{
        background-color: white;
        border: 0.01rem solid;
        border-radius: 2rem;
        width: 6rem;
        padding: 0.5rem;
        cursor: pointer;
        transition: 0.5s ease;
        }
        .left button:hover{
            background-color: #2e4450;
            color: white;
        }
        .section button{
          background-color: white;
          border: 0.01rem solid;
          border-radius: 2rem;
          width: 4rem;
          padding: 0.25rem;
          cursor: pointer;
          transition: 0.5s ease;
          color: black;
        }
        .section button:hover{
            background-color: #2e4450;
            color: white;
        }


        .section{
            margin-top: 14rem;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            /* margin-bottom: 5rem; */
        }
        .section-head{
            display: flex;
            justify-content: center;
            margin-bottom: 5rem;
        }
        .override .card{
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
            border:none;
            /* max-width:23rem; */

        }
        #img{
            
            height: 10rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: 2rem;
            margin-right: 2rem;
        }
        .card{
            width: 18rem;
            min-width: 20rem;
            box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
        }
        .card-header
        {
            text-align: center;
        }
        .card-body{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height:20rem;
        }
        .override .btn{
            margin-top: 6px;
        }
        .left button a{
            text-decoration: none;
            color:black;
        }
        .section .card:hover{
          transition: 0.5s ease-out;
          transform: translateY(-1rem);
        }
        @media screen and (max-width:768px) {
            .container{
                flex-direction: column;
                text-align: center;
                justify-content: center;
                align-items: center;
                margin-top: 1rem;
            }
            .container .left p, h1{
                margin: 2rem;
                width: 18rem;
            }
        }

        span{
          animation: blinker 1s linear infinite;
        }
        @keyframes blinker{
          50%{
            opacity: 0;
          }
        }
        #preloader{
  background: #ededed url(./loader1.gif) no-repeat center;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}
#heroimg{
            width: 30rem;
            animation: float 3s ease-out infinite;
        }
        @keyframes float{
          50%{
            transform: translateX(1rem);
          }
        }
      </style>
</head>
<body>
  <div id="preloader"></div>
    <div class="headbox">
        <nav class="navbar navbar-expand-lg" style="background-color: #2e4450;">
            <div class="container-fluid">
              <a class="navbar-brand" href="/" style="font-family: 'Samarkan', sans-serif; color: white;">Swasth</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/" style="color: white;">HOME</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">HEALTH CARE</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="/disease">DISEASES</a></li>
                      <li><a class="dropdown-item" href="/basic">BASIC HEALTH CARE</a></li>
                      </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/consult" style="color: white;">CONSULT PHYSICIAN</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#contact" style="color: white;">CONTACT US</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/uploadform" style="color: white;">MEDICINE</a>
                  </li>
                </ul>
                <form class="d-flex" role="search">
                  <% if(!currentUser){%>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="/login" style="color: white;">Login</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="/register" style="color: white;">Sign Up</a>
                        </li>
                      </ul>
                  <%}else{%>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item nav-link active" style="color: white;">Signed In As <%=currentUser.username%></li>
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/logout" style="color: white;">Logout</a>
                      </li>
                    </ul>
                    <%}%>
                </form>
              </div>
            </div>
          </nav>
          <div class="container">
            <div class="left">
                <h1 id="msg">Welcome</h1>
                <p>We are not magicians who can say, "You won't suffer this anymore" but YES! We can do something that you won't need to run through your medicine and that is - maintaining a proper diet</p>
                <p><a href="#sec"><button>Explore</button></a></p>
            </div>
            <div class="right">
                <img src="https://img.freepik.com/free-vector/medical-workers-analyzing-electronic-record_1262-19834.jpg?t=st=1655552037~exp=1655552637~hmac=28e15cbda52c5ce32e8163be08ad0f1bbd052d5f8976ce1e18e04b234ef65844&w=1060" alt="" id="heroimg">
            </div>
          </div>
    </div>
    <div class="section" id="sec">
      <div class="card text-black mb-3" style="max-width: 20rem;">
          <div class="card-header">BMI Calculator</div>
          <div class="card-body">
              <img src="./diseases.jpg" alt="" id="img">
              <a href="/disease"><button type="button" class="btn btn-primary">Visit</button></a>
          </div>
      </div>



      <div class="card text-black mb-3" style="max-width: 20rem;">
          <div class="card-header">Daily Calories Calculator</div>
          <div class="card-body">
              <img src="./basichealthcare.jpg" alt="" id="img">
              <a href="/calorie"><button type="button" class="btn btn-primary">Visit</button></a>
          </div>
      </div>
      <div class="card text-black mb-3" style="max-width: 20rem;">
          <div class="card-header">Consult Physician</div>
          <div class="card-body">
              <img src="./consultphysician.jpg" alt="" id="img">
              <a href="/consult"><button type="button" class="btn btn-primary">Visit</button></a>

          </div>
      </div>
      <div class="card text-black  mb-3" style="max-width: 20rem;">
          <div class="card-header">Medicines</div>
          <div class="card-body">
              <img src="./medicines.jpg" alt="" id="img">
              <a href="/uploadform"><button type="button" class="btn btn-primary">Visit</button></a>
          </div>
      </div>


      <script>
        var msgArr = ["Welcome"];
        var textPosition = 0;
        var speed = 300;

        typewriter = ()=>{
          document.querySelector("#msg").innerHTML = msgArr[0].substring(0, textPosition) + "<span>\u007c</span>";
          if(textPosition++ != msgArr[0].length)
          setTimeout(typewriter, speed);
        }
        window.addEventListener("load", typewriter);

        var loader = document.getElementById("preloader");
        window.addEventListener("load", function(){
          loader.style.display = "none";
        })
      </script>
      
<style>
  .footer-distributed{
	background: #2e4450;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	margin-top: 10vh;
	text-align: left;
	padding: 50px 60px 40px;
	bottom: 0px;
	overflow: hidden;
}




/* Footer left */

.footer-distributed .footer-left{
	float: left;
	background: #2e4450;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px;
	margin: 0 0 10px;
	background: #2e4450;
}

.footer-distributed h3 span{
	color:  #5383d3;
	background: #2e4450;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
	background: #2e4450;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
	background: #2e4450;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	background: #2e4450;
}

/* Footer social icons */

.footer-distributed .footer-icons{
	margin-top: 40px;
	background: #2e4450;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #2e4450;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* Footer Right */

.footer-distributed .footer-right{
	float: right;
	background-color: #2e4450;
}

.footer-distributed .footer-right p{
	display: inline-block;
	vertical-align: top;
	margin: 15px 42px 0 0;
	/* color: #ffffff; */
	background-color:#2e4450;
}

/* The contact form */

.footer-distributed form{
	display: inline-block;
	background-color: #2e4450;
}

.footer-distributed form input,
.footer-distributed form textarea{
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color:  #1f2022;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	resize: none;

	font: inherit;
	font-size: 14px;
	font-weight: normal;
	color:  #d1d2d2;

	width: 400px;
	padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
	color:  #5c666b;
}

.footer-distributed ::-moz-placeholder {
	color:  #5c666b;
	opacity: 1;
}

.footer-distributed :-ms-input-placeholder{
	color:  #5c666b;
}


.footer-distributed form input{
	height: 55px;
	margin-bottom: 15px;
}

.footer-distributed form textarea{
	height: 100px;
	margin-bottom: 20px;
}

.footer-distributed form button{
  border: none;
	padding: 0.5rem;
  width: 6rem;
	font-weight: bold;
	float: right;
  background-color: white;
  border-radius: 0.5rem;
  transition: 0.5s;
}
.footer-distributed form button:hover{
  border: none;
  background-color: black;
  color: white;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 1000px) {

	.footer-distributed {
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-company-name{
		font-size: 12px;
	}

	.footer-distributed form input,
	.footer-distributed form textarea{
		width: 250px;
	}

	.footer-distributed form button{
		padding: 10px 35px;
	}

}

@media (max-width: 800px) {

	.footer-distributed{
		padding: 30px;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		float: none;
		max-width: 300px;
		margin: 0 auto;
	}

	.footer-distributed .footer-left{
		margin-bottom: 40px;
	}

	.footer-distributed form{
		margin-top: 30px;
	}

	.footer-distributed form{
		display: block;
	}

	.footer-distributed form button{
		float: none;
	}
}

</style>
<footer class="footer-distributed">

    <div class="footer-left">

      <h3 style="font-family: 'Samarkan', sans-serif;">Swasth</h3>

      <p class="footer-links">
        <a href="/">Home</a>
        ·
        <a href="/basic">Health Care</a>
        ·
        <a href="#">About</a>
        ·
        <a href="#">FAQ</a>
        ·
        <a href="#">Contact</a>
      </p>

      <p class="footer-company-name">Lo-fi Devs © 2022</p>

      <div class="footer-icons">

        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>

      </div>

    </div>

    <div class="footer-right">

      <p style="color: white">Contact Us</p>

	  <form action="https://formsubmit.co/3b784510c1979c17959404e1a371327d" method="POST" id="contact">
		<!-- Honeypot -->
		<input type="text" name="_honey" style="display: none;">
  
		<!-- Disable Captcha -->
		<input type="hidden" name="_captcha" value="false">

        <input type="text" name="email" placeholder="Email">
        <textarea name="message" placeholder="Message"></textarea>
        <button type="submit">Send</button>

      </form>

    </div>

  </footer>


</div>
</body>
</html>


</div>
</body>
</html><!-- </body>
</html> -->